html {
  font-size: 62.5%;
}
* {
  margin: 0;
  box-sizing: border-box;
}
.container1 {
  width: 98.9vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: column;
  height: 18%;
}
.upper_header {
  display: flex;
  height: 30%;
  background: #3f6d69;
}
.left_upper_header {
  flex: 1;
}
.phone_wrapper {
  width: 27%;
  display: flex;
  height: 100%;
  font-size: 2rem;
  margin-left: 10rem;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.right_upper_header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_upper_header_wrapper {
  height: 100%;
  width: 28%;
  display: flex;
  font-size: 3rem;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 40rem;
  color: #ffffff;
}
select {
  background: none;
  border: none;
  color: #ffffff;
}

.down_header {
  flex: 1;
  width: 100%;
  display: flex;
  background-color: #ffffff;
}
.left_down_header {
  flex: 1;
  position: relative;
}
.logo_nav {
  position: absolute;
  left: 15rem;
  top: 10px;
}
.right_down_header {
  flex: 1;
  display: flex;
}
.list_header {
  width: 90%;
  justify-content: space-around;
  list-style: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: #3f6d69;

  font-family: "Poppins", sans-serif;
}

.container7 {
  height: 35vh;
  width: 98.9vw;
  background-color: palevioletred;
}
.upper_body_con7 {
  background-color: rgb(56, 95, 91);
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.naslov_con7 {
  font-size: 4rem;
}
.line8_ {
  border-top: #ffffff solid 0.2rem;
  width: 10%;
  margin-top: 0.3rem;
}
.lower_body_con7 {
  width: 100%;
  height: 50%;
  background-color: rgb(56, 95, 91);
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_wrapper_con7 {
  background-color: rgb(255, 255, 255);
  width: 20%;
  height: 30%;
  padding-left: 0;
}
.input_con7 {
  width: 69%;
  height: 100%;
  background-color: rgb(56, 95, 91);
  color: #d5d1d1;
  border: rgb(255, 255, 255) solid 0.3rem;
  padding: 1rem;
}
.btn_con7 {
  width: 30%;
  height: 100%;
  color: #3f6d69;
  border: none;
}
.con8_footer {
  height: 35vh;
  width: 98.9vw;
  background-color: rgba(63, 63, 63, 1);
  padding: 0 2rem;
  display: flex;
}
.card1_con8 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2_con8 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper_text_con8 {
  width: 90%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.naslov_con8 {
  margin-left: 2rem;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1rem;
  font-weight: 200;
  font-family: sans-serif;
}
.text_footer {
  display: flex;
  font-size: 1.5rem;
  height: 20%;
  width: 70%;
  justify-content: space-between;
  margin-left: 2rem;
  align-items: center;
  padding: 0.3rem;
  color: #ffffff;
}
.icn_wrapper {
  background-color: #3f6d69;
  height: 90%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  color: #ffffff;
}
.card3_con8 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper2_text_con8 {
  width: 90%;
  height: 90%;
}
.naslov2_con8 {
  margin-left: 2rem;
  font-size: 2rem;
  color: #ffffff;
  margin-top: 2rem;
  font-family: sans-serif;
  font-weight: 100;
}
.text_footer2 {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 2.2rem;
  align-items: center;
}
.icn_wrapper2 {
  width: 37%;
  height: 50%;
  background-color: #3f6d69;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border: none;
  border-radius: 10px;
  color: #ffffff;
}
.card4_con8 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last_footer {
  height: 2.5vh;
  width: 98.9vw;
  background-color: rgba(63, 63, 63, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.p_last_footer {
  color: #ffffff;
}
